<ul>
    <li>
        <a href="{% url 'create_career_summary' %}">create Career Summary</a>
    </li>
    <li>
        <a href="{% url 'create_philosophy_statement' %}">Create philosophy statement</a>
    </li>
    <li>
        <a href="{% url 'create_biography' %}">Create Biography</a>
    </li>
    <li>
        <a href="{% url 'create_professional_accomplishments' %}">Create Professional Accomplishments</a>
    </li>
    <li>
        <a href="{% url 'create_awards_honors' %}">Create Education</a>
    </li>
    <li>
        <a href="{% url 'create_certifications' %}">Create Certifications</a>
    </li>
    <li>
        <a href="{% url 'create_volunteering_community_service' %}">Create Volunteering Community Service</a>
    </li>
    <li>
        <a href="{% url 'create_references_testimonials' %}">Create References Testimonials</a>
    </li>
</ul>